*{
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
#root{
  background-color: var(--mainColor);
  /* background-color: #252525; 다크모드 검정 메인*/
  --mainColor : #f7f7f7;
  --errorColor : #e74c3c;
  --inputColor : #f9f9f9;
  --whiteColor : #fff;
  /* 323232 dark */
  --fontColor : #fff;
  --darkModeColor : #252525;
}
div{
  box-sizing: border-box;
}
.App{
  width: 100%;
  max-width: 700px;
  min-height: 100vh;
  margin: auto;
  background-color: var(--mainColor);
  transition: all 1s;
}
.darkmode_true{
  background-color: var(--darkModeColor);
}
.New,.Edit{
  padding: 30px;
}

/* login */
.Login{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Login_top,.Login_bottom{
  width: 100%;
}
.Login_top{
  height: 70%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
.Login_top > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.Login_top > form > label, .Join > form > label{
  width: 80%;
  text-align: start;
}
.Login_top > form >input ,.Join > form > input{
  width: 80%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  font-size: 20px;
  background-color: var(--inputColor);
}
.Login_bottom{
  padding-top:30px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Login button,.Join > form > button{
  width: 80%;
  height: 50px;
  border: none;
  background-color: antiquewhite;
  border-radius: 50px;
  margin-bottom: 30px;
  border: 1px solid black;
}

/* join 회원가입 */

.Join{
  width: 100%;
  text-align: center;
  padding: 30px;
}
.Join > form >img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.Join > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Join > form > .joinError{
  margin-bottom: 15px;
  color: var(--errorColor);
}
.Join > form > .emailError_false, .Join > form > .passwordError_false, .Join > form > .nicknameError_false{
  display: none;
}
.Join > form > .emailError_true, .Join > form > .passwordError_true, .Join > form > .nicknameError_true{
  display: block;
}

/* Board 게시판 */
.Board{
  width: 100%;
  height: 100%;
  padding: 30px;
}
.pagination{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
}
.pagination a{
  font-size: 16px;
  color:black;
}
.pagination li{
  cursor: pointer;
  padding: 5px;
  margin:0px 5px;
}
.pagination li:hover{
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
}
.pagination .active{
  background-color: #b7b7b7;
  border-radius: 5px;
}
/* ListItem 리스트아이템 */

.ListItem{
  width: 100%;
  background-color: var(--whiteColor);
  border-radius: 4px;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.ListItem_photo{
  width: 100%;
  position: relative;
  padding-top: 52.19%;
}
.ListItem_photo > img{
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.ListItem > .ListItem_content{
  padding: 1rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}
.ListItem > .ListItem_content > h4{
  font-size: 1rem;
  margin: 0px 0px 0.25rem;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  color:black
}
.ListItem_maintext{
  display: block;
}
.ListItem_content p{
  margin:0px 0px 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 3.9375rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#495057;
}
.ListItem_content > .ListItem_info{
  font-size: 0.75rem;
  line-height: 1.5;
  color: #495057;
}
.ListItem_content > .ListItem_info > span:nth-child(2){
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.ListItem > .ListItem_bottom{
  padding: 0.625rem 1rem;
  border-top: 1px solid rgba(0,0,0,0.4);
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.ListItem > .ListItem_bottom > .ListItem_userInfo{
  color: inherit;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.ListItem > .ListItem_bottom > .ListItem_userInfo > img{
  object-fit: cover;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin-right: 0.5rem;
}
/* Create 작성 페이지 (수정페이지) */
.Create{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Create > input, .Create > textarea {
  width: 90%;
  margin-top:30px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  transition: all 0.5s;
  background-color: var(--inputColor);
  color: var(--fontColor);
}
.Create > textarea{
  height: 200px;
  max-height: 300px;
}
.Create > input:focus{
  border: none;
  outline: none;
  border: 1px solid black;
}
.Create > textarea:focus{
  outline: none;
  border: 1px solid black;
}
.Create_Photo_box{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.Create > .Create_Photo_box label{
  font-size: 26px;
  margin-right: 30px;
}
.Create > .Create_Photo_box img{
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.Create > .Create_Photo_box button{
  width: 70px;
  height: 30px;
  border: none;
  background-color: var(--mainColor);
  color: var(--fontColor);
}

/* Detail 상세페이지 */

.Detail{
  padding: 30px;
  width: 100%;
}
.Detail_top{
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
  margin-top:30px;
  margin-bottom: 30px;
}
.Detail_top > h4{
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}
.Detail_top > .Detail_info{
  width: 50%;
  display: flex;
  justify-content: end;
  font-size: 12px;
  color: rgba(0,0,0,0.8);
  align-items: flex-end;
}
.Detail_top > .Detail_info > p{
  margin-left: 3px;
}

.Detail_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}
.comment_noLogin{
  margin-bottom: 25px;
}
.Detail_content > img{
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}
.Detail_content > p{
  margin-top: 15px;
  padding-bottom: 30px;
  word-wrap: break-word;
}
.Detail_content > .Detail_content_option{
  display: flex;
  justify-content: end;
  position: relative;
}
.Detail_content_option > ul{
  position: absolute;
  right: 0;
  top:-100px;
  box-shadow: -2px 2px 8px 1px rgba(0,0,0,0.3);
  border-radius: 15px;
  font-size: 16px;
  z-index: 10;
  background-color: var(--whiteColor);
}
.Detail_content_option > ul > li{
  padding: 10px;
}
.Detail_content_option > ul > li:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.Detail_content_option > ul > li:last-child{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.Detail_content_option > ul > li:hover{
  background-color: gray;
}

/* 여기서부턴 상세페이지 댓글 DetailComment */
.Detail_comment > form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top:15px;
  margin-bottom: 15px;;
}
.Detail_comment > form > textarea {
  width: 100%;
  height: 70px;
  max-height: 70px;
  min-height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.Detail_comment > form > button{
  width: 80px;
  height: 30px;
  margin-top:15px;
  border-radius: 15px;
  background-color: var(--mainColor);
}

.DetailComment{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.DetailComment > .DetailComment_image{
  width: 20%;
  height: 70px;
  text-align: center;
  padding-right: 8px;
}
.DetailComment_image img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.DetailComment > .DetailComment_text{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.DetailComment > .DetailComment_text > .DetailComment_text_top{
  display: flex;
  position:relative;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.DetailComment_text_top > div{
  display: flex;
  font-size: 17px;
  align-items: baseline;
}
.DetailComment_text_top > div > p{
  font-size: 12px;
  margin-left: 5px;
  color:rgba(0,0,0,0.6)
}
.DetailComment_text_top > svg{
  cursor: pointer;
}
.DetailComment_text > p{
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}
.DetailComment_text > form{
  display: flex;
  flex-direction: column;
}
.DetailComment_text > form > div{
  display: flex;
  justify-content: end;
  margin-top:10px;
  margin-bottom: 10px;
}
.DetailComment_text > form > input{
  padding:2px;
  border: none;
  border-bottom: 1px solid;
}
.DetailComment_text > form > div > button{
  padding:3px 10px;
  margin-left: 10px;
  border: none;
  background-color: var(--mainColor);
  cursor: pointer;
}
.Comment_option{
  position: absolute;
  right:0px;
  bottom: -100px;
  background-color: var(--whiteColor);
  border-radius: 15px;
  box-shadow: -2px 2px 8px 1px rgba(0,0,0,0.3);
  z-index: 10;
  text-align: center;
  font-size: 16px;
}
.Comment_option > li{
  padding: 10px 10px;
}
.Comment_option > li:hover{
  background-color: gray;
}
.Comment_option > li:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.Comment_option > li:last-child{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.Comment_option_false{
  display: none;
}
.Comment_option_true{
  display: block;
}

.swiper img{
  width: 100%;
  height: 100%;
}